/.DS_Store
/about.html
/blog-classic.html
/blog-detail.html
/blog.html
/contact.html
/course-detail.html
/courses.html
/event-detail.html
/events.html
/faq.html
/index-1.html
/index-2.html
/index-original.html
/news-detail.html
/not-found.html
/prayer-time.html
/price.html
/record-class.html
/register.html
/scholar-detail.html
/scholars.html
/service-detail.html
/services.html
/team.html